body {
  font-family: arial;
  background-color: rgb(243, 216, 235);
  color: rgb(0, 0, 0);
}

img {
  width: 50%;
  border: 10px double white;
}

h1 {
  text-shadow: 3px 3px rgb(255, 146, 219);
  font-family: 'Franklin Gothic Medium';
}

button {
  background-color: rgb(255, 146, 219);
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}

#DogResult,
#CatResult,
#FishResult,
#RatResult {
  display: none;
}