body {
    font-family: arial;
    background-color: rgb(123, 202, 251);
    color: white;
    font-size: 20px;
  }
  
  img {
    width: 50%;
    border: 10px double white;
  }
  
  h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
  }
  
  button {
    background-color: gray;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
  }
  
  #BikeResult,
  #ClownResult,
  #FerrariResult,
  #KidResult,
  #JeepResult,
  #MonsterResult {
    display: none;
  }