body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(168, 206, 245);
  color: white;
}

img {
  width: 50%;
  border: 10px double white;
}

h1 {
  text-shadow: 3px 3px rgb(111, 179, 247);
  font-family: 'Franklin Gothic Medium';
}


button {
  background-color: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
}

label{
  font-size: 25px
}

input[type='radio'] { 
  transform: scale(1.5); 
}

#DogQ{
  display: none; 
}
#CatQ{
  display: none;
}

#DogR,
#CatR{
  display: none;
}




